@import url("https://fonts.googleapis.com/css2?family=Heebo:wght@300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background-color: black;
  overflow-x: hidden;
  font-family: "Heebo", sans-serif;
}
::-webkit-scrollbar {
  @apply w-[5px];
}
::-webkit-scrollbar-thumb {
  @apply rounded-md bg-blue-600;
}

.container {
  max-width: 1536px;
  @apply mx-auto px-4;
}

.navbar-shadow {
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 15%,
    rgba(0, 0, 0, 0)
  );
}

.grid-icons {
  @apply gap-16 px-56 lg:gap-24;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}

.span-blue-dot {
  @apply h-[8px] w-[8px] rounded-full bg-blue-600;
}

.active-tab {
  @apply bg-blue-600;
}
